html {
    background: #303841;
    margin: 0;
    padding: 0;
  }
   
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 20px;
    width: 320px;
    
  }
  
  .display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #be3144;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  
  .buttons {
    padding: 20px 20px 0 20px;
  }
  
  .row {
    width: 280px;
    float: left;
  }
  
  input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: gray;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #303841;
    cursor: pointer;
  }

  input[type=button].button2 {
    width: 130px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: gray;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50px;
    font-weight: 700;
    color: #303841;
    cursor: pointer;
  }
  
  #display-screen {
    width: 270px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #303841;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
  }
  #old-display {
    width: 150px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #303841;
    text-align: right;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
  
  .red {
    background: #be3144 !important;
    color: #303841 !important;
    }
  
  .h1 {
    font-weight: 300;
    margin: 0;
    color: #be3144;
    font-family: "Source Sans Pro",sans-serif;
    margin: 0;
    text-align: center;
  }